.row#courseAndUserStatsSection
  #courseStatsWrapper
    .course-stats-icon
    #courseStatsTitle
      | Course stats
  #userStatsWrapper
    .user-stats-icon
    #userStatsTitle
      | User stats
include admin-course-statistics.pug
