.choose-a-category-text
    | Choose a category
.dropdown(data-toggle="dropdown")
    .select-one-text
        | Select one...
    .down-angle-icon    
.dropdown-menu
    .dropdown-item Development
    .dropdown-item DevOps
    .dropdown-item Design
    .dropdown-item Business Analysis
    .dropdown-item Communication
    .dropdown-item Team building
    .dropdown-item Workflow
.choose-an-icon
    | Choose an icon
.icons-to-choose-from
    .right-angle-icon
    .left-angle-icon
    .row-of-images