#admin-move-to-active-courses-modal.modal.fade(
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
    data-controller= 'archivecourse'
  )
    .modal-dialog.modal-dialog-centered(role="document")
      .modal-content#adminArchiveModal
        span.closeArchiveModalIcon(data-dismiss="modal")
          .close-modal-icon
        #adminArchiveIcon
          .move-course-icon
        #adminArchiveHeading
          | Move to courses
        #adminArchiveMessage
          | Are you sure you want to move this item?
          br
          span(id="courseToBeMoved")
        #adminArchiveButtonsWrapper
          #adminMoveToCoursesButton
            | Move
          #adminCancelArchiveButton(data-dismiss="modal")
            | Cancel