.row#addPresentationAndArchiveSection
    #addNewPresentationWrapper(
        data-toggle="modal"
        data-target="#admin-add-presentation-modal"
        data-controller="presentationController"
    )
        .more-options-icon
        #addNewPresentationTitle
            | Add a new presentation...           
    #archive
        .send-course-to-archive-icon
        .archive-text
            | Archive (0)